---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
import LinkMuted from '../components/LinkMuted.astro';
---

<Layout title="Not So Fast links">
	<main
		class=`
			flex
			flex-col
			gap-9
			items-center
			justify-center
			min-h-screen
			px-3
			py-5
			text-center
		`
	>
		<div>
			<h1
				class=`
					font-extrabold
					leading-tight
					text-[clamp(2.25rem,_2vw_+_2rem,_4.25rem)]
				`
			>
				<span class=`
					text-[#2045EA]
				`>Not</span>
				<span class=`
					text-gray-700
				`>So</span>
				<span class=`
					text-[#CA2B1D]
				`>Fast</span>
			</h1>
		</div>
		<p class=`
				text-gray-900
				text-xl
			`>
			A real-time party game designed for frantic, confusing&nbsp;fun
		</p>
		<ul class=`
			flex
			flex-col
			gap-4
			max-w-80
			w-full
		`>
			<Link
				href="https://youtu.be/7jTLlC54aMU"
				icon="youtube-color"
				label="Watch an overview"
			/>
			<Link
				href="https://youtu.be/97AQnXLk8rI"
				icon="youtube-color"
				label="Watch gameplay"
			/>
			<Link
				href="https://drive.google.com/drive/folders/1hp2C0eJdkknNm1EwRyKIS0aW72obO4-s"
				icon="google-drive-color"
				label="View the Sell Sheet"
			/>
			<Link
				href="https://docs.google.com/document/d/1U2kmeTteuazvaXJo8zFiM8JUrCAd2_FDc-F4bNR6Dzw/edit?usp=sharing"
				icon="google-docs-color"
				label="Read the rules"
			/>
			<Link
				href="https://screentop.gg/@stowball/not-so-fast"
				icon="screentop"
				label="Play on Screentop.gg"
			/>
			<Link
				href="https://drive.google.com/drive/folders/1U3n6Y1-7_qzldHq-M6fflbAO3fV5BBaM"
				icon="printer"
				label="Get the Print and Play"
			/>
			<LinkMuted
				href="mailto:matt@mattstow.com?subject=Not So Fast"
				icon="email"
				label="Email me"
			/>
		</ul>
		<div class=`
			flex
			flex-col
			gap-4
			max-w-80
			w-full
		`>
			<h2 class="text-gray-800">You might also like:</h2>
			<ul class=`
				flex
				gap-4
			`>
				<LinkMuted href="https://push-up.mattstow.com" label="Push-Up!" />
				<LinkMuted href="https://venticotto.mattstow.com" label="Venticotto" />
			</ul>
		</div>
		<p class="text-gray-800">Designed by Matt Stow</p>
	</main>
</Layout>
